<launch>


<node pkg="rostopic" type="rostopic" name="echo_pub" args="pub /echo std_msgs/String 'data: EchoTest' -r 10"/>
<node pkg="rostopic" type="rostopic" name="foxtrot_pub" args="pub /foxtrot std_msgs/String 'data: FoxtrotTest' -r 10"/>
<node pkg="rostopic" type="rostopic" name="golf_pub" args="pub /golf std_msgs/String 'data: GolfTest' -r 10"/>
<node pkg="rostopic" type="rostopic" name="hotel_pub" args="pub /hotel std_msgs/String 'data: HotelTest' -r 10"/>

<PublishedTopics>
    <topic>/echo</topic>
    <topic>/foxtrot</topic>
    <topic>/golf</topic>
    <topic>/hotel</topic>
</PublishedTopics> 

<RequiredTopics>
    <topic>/alpha</topic>
    <topic>/bravo</topic>
</RequiredTopics> 

</launch>