<launch>


<!-- node pkg="rostopic" type="rostopic" name="alpha_pub" args="pub /alpha std_msgs/String 'data: AlphaTest' -r 10"/>
<node pkg="rostopic" type="rostopic" name="bravo_pub" args="pub /bravo std_msgs/String 'data: BravoTest' -r 10"/ -->
<node pkg="rostopic" type="rostopic" name="charlie_pub" args="pub /charlie std_msgs/String 'data: CharlieTest' -r 10"/>
<node pkg="rostopic" type="rostopic" name="delta_pub" args="pub /delta std_msgs/String 'data: DeltaTest' -r 10"/>

<PublishedTopics>
    <topic>/charlie</topic>
    <topic>/delta</topic>
</PublishedTopics> 



</launch>
